body {
    background-color: floralwhite;
}

.complete {
    background-color: lightgreen;
}

.incomplete {
    background-color: orangered;
}

#taskIn, #urgencyIn, #addTaskBtn {
    border: 2px solid black;
    background-color: floralwhite;
}

.tableDelete, .tableStatus {
    text-align: center;
}

#taskIn, #urgencyIn {
    width: 400px;
}

#addTaskBtn {
    width: 70px;
    border-radius: 5px;
    background-color: floralwhite;
}

table {
    border-collapse: collapse;
    margin-left: 10px;
}

table, th, td {
    border: 1px solid black;
}

th {
    width: 200px;
    padding: 5px;
}

td {
    width: 200px;
    font-weight: normal;
    padding: 5px;
}

h1, h2 {
    font-family: monospace;
    margin-left: 12px;
}

h1 {
    font-size: 40px;
}

#inputFields {
    margin-left: 12px;
}